/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Header */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.8rem;
    margin-bottom: 3.30rem;
    font-size: 1.1em;   
}

.navbar__logo {
    height: 1.25rem;
}

.navbar__link  {
    text-decoration: none;
    margin-left: 4rem;
    padding-top: 2.7rem ;
    color: black;
 }

.navbar__link:visited {
    color: black;
}

.navbar__link:hover {
    border-top: var(--main-color) solid 0.18rem;
    color: var(--main-color);   
}

/* Main */
/* Searchbar */

.searchbar {
    font-size: 1.19rem;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.title {
    margin-bottom: 1.25rem;
}

.searchbar__logo {
    padding: 1.2rem;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
    background-color: var(--main-bg-color);
    border: var(--main-bg-color) solid;
    color: black;
    font-size: 1.25rem;
}


.searchbar__text {
    border-top: var(--main-bg-color) solid 0.06rem ;
    border-bottom: var(--main-bg-color) solid 0.06rem;
    border-left: 0;
    border-right: 0; 
    padding: 1rem;
}

.searchbar__button {
    color: var(--filter-bg-color);
    background-color: var(--main-color);
    border-radius: 0rem 0.9rem 0.9rem 0rem;
    border: var(--main-color) solid 0.06rem;
    padding: 1rem;
    padding-right: 1.25rem;
    text-align: center;
    border-width: 0.06rem;
}

/* Filters */

.filterbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.filterbar__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.filterbar__btn--rounded {
    border: var(--main-bg-color) solid 0.125rem;
    border-radius: 1.5rem;
    margin: 1.6rem;
    padding: 0.6rem 1.25rem;
}

.filterbar__btn--logo {
   margin-right: 0.6rem; 
}

/* Attention div */

.message {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.message__btn--roundedfull {
	border-radius: 9999px;
    border: var(--main-bg-color) solid 0.125rem ;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    margin-right: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Section  */
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hebergements-title {
    margin-top: 1rem;
}

.hebergements-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.hebergements-card .card{
    display: flex;
    flex-direction: column;
}

.hebergements-card img {
    width: auto;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

.hebergements-plus {
    font-weight: bold;
 }

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Section Activities */

.activities {
    margin-bottom: 3.8rem;
}

.activities-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities-card img {
    width: 18rem;
    height: 27.75rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.activities-card h3 {
    padding: 0.8rem;
}

.activities h2 {
    margin-bottom: 2rem;
}

.activity__card {
    padding: 0;
}

/* Footer */

.footbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 12rem;
    align-items: baseline;
    background-color: var(--main-bg-color);
    gap: 9rem;
}

.footbar__link {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
    font-size: 16px;
}

.footbar__title {
    margin-bottom: 23px ;
}

.footbar__box {
    margin-top: 2rem ;
    margin-left: 4.3rem; 
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}